.panel.panel-success
  .panel-heading
    %span.glyphicon.glyphicon-star
    Extres enllaçats
  .panel-body
    %table.table.table-striped
      %tr
        %th
          %span.glyphicon.glyphicon-link
        %th Ordre
        %th
        %th Nom
        %th Tipus
      - @current_point.point_extras.all(:order => [:weight.asc]).each do |pe|
        %tr
          %td
            %form.form-inline{:role => "form", :action => "/point/extra/edit?point=#{@current_point.id}&extra=#{pe.extra.id}", :method => "POST"}
              .form-group
                %button.btn.btn-xs.btn-warning{:type => "submit", :name => "action", :value => "unlink"}
                  %span.glyphicon.glyphicon-minus
          %td= pe.weight
          %td
            %ul.list-inline
              %li
                %form.form-inline{:role => "form", :action => "/point/extra/up?point=#{@current_point.id}&extra=#{pe.extra.id}", :method => "POST"}
                  .form-group
                    %button.btn.btn-xs.btn-default{:type => "submit"}
                      %span.glyphicon.glyphicon-chevron-up
              %li
                %form.form-inline{:role => "form", :action => "/point/extra/down?point=#{@current_point.id}&extra=#{pe.extra.id}", :method => "POST"}
                  .form-group
                    %button.btn.btn-xs.btn-default{:type => "submit"}
                      %span.glyphicon.glyphicon-chevron-down

          %td
            %a{:href => pe.extra.link, :target => "_blank"}= pe.extra.name
          %td
            - if pe.extra.has_image?
              %span.glyphicon.glyphicon-picture
            - if pe.extra.has_video?
              %span.glyphicon.glyphicon-play
.panel.panel-info
  .panel-heading
    %span.glyphicon.glyphicon-star-empty
    Extres disponibles
  .panel-body
    %table.table.table-striped
      %tr
        %th
          %span.glyphicon.glyphicon-link
        %th Nom
        %th Tipus
      - CMS::Models::Extra.all_sorted.not_deleted.each do |extra|
        - if @current_point.extras.include?(extra)
        - else
          %tr
            %td
              %form.form-inline{:role => "form", :action => "/point/extra/edit?point=#{@current_point.id}&extra=#{extra.id}", :method => "POST"}
                .form-group
                  %button.btn.btn-xs.btn-primary{:type => "submit", :name => "action", :value => "link"}
                    %span.glyphicon.glyphicon-plus
            %td
              %a{:href => extra.link, :target => "_blank"}= extra.name
            %td
              - if extra.has_image?
                %span.glyphicon.glyphicon-picture
              - if extra.has_video?
                %span.glyphicon.glyphicon-play
              - if extra.has_audio?
                %span.glyphicon.glyphicon-headphones

%ul.list-inline
  %li
    %a.btn.btn-warning{:href => @current_point.link}
      %span.glyphicon.glyphicon-chevron-left
      Enrere
