.panel.panel-success
  .panel-heading
    %span.glyphicon.glyphicon-play
    Multimedia enllaçat
  .panel-body
    %table.table.table-striped
      %tr
        %th
          %span.glyphicon.glyphicon-link
        %th Ordre
        %th
        %th Nom
        %th Tipus
      - @current_point.point_multimedias.all(:order => [:weight.asc]).each do |pm|
        %tr
          %td
            %form.form-inline{:role => "form", :action => "/point/multimedia/edit?point=#{@current_point.id}&multimedia=#{pm.multimedia.id}", :method => "POST"}
              .form-group
                %button.btn.btn-sm.btn-warning{:type => "submit", :name => "action", :value => "unlink"}
                  %span.glyphicon.glyphicon-minus
          %td= pm.weight
          %td
            %ul.list-inline
              %li
                %form.form-inline{:role => "form", :action => "/point/multimedia/up?point=#{@current_point.id}&multimedia=#{pm.multimedia.id}", :method => "POST"}
                  .form-group
                    %button.btn.btn-sm.btn-default{:type => "submit"}
                      %span.glyphicon.glyphicon-chevron-up
              %li
                %form.form-inline{:role => "form", :action => "/point/multimedia/down?point=#{@current_point.id}&multimedia=#{pm.multimedia.id}", :method => "POST"}
                  .form-group
                    %button.btn.btn-sm.btn-default{:type => "submit"}
                      %span.glyphicon.glyphicon-chevron-down

          %td
            %a{:href => pm.multimedia.link, :target => "_blank"}= pm.multimedia.name
          %td
            - if pm.multimedia.image?
              %span.glyphicon.glyphicon-picture
            - else
              %span.glyphicon.glyphicon-play
.panel.panel-info
  .panel-heading
    %span.glyphicon.glyphicon-play
    Multimedia disponible
  .panel-body
    %table.table.table-striped
      %tr
        %th
          %span.glyphicon.glyphicon-link
        %th Nom
        %th Tipus
      - CMS::Models::Multimedia.all.each do |m|
        - if @current_point.multimedias.include?(m)
        - else
          %tr
            %td
              %form.form-inline{:role => "form", :action => "/point/multimedia/edit?point=#{@current_point.id}&multimedia=#{m.id}", :method => "POST"}
                .form-group
                  %button.btn.btn-sm.btn-primary{:type => "submit", :name => "action", :value => "link"}
                    %span.glyphicon.glyphicon-plus
            %td
              %a{:href => m.link, :target => "_blank"}= m.name
            %td
              - if m.image?
                %span.glyphicon.glyphicon-picture
              - else
                %span.glyphicon.glyphicon-play

%ul.list-inline
  %li
    %a.btn.btn-warning{:href => @current_point.link}
      %span.glyphicon.glyphicon-chevron-left
      Enrere
