%table.table.table-striped
  %tr
    %th Nom
    %th Estat
    %th Tipus
    %th Descripció curta
    %th Data creació
    %th Data última actualització
    %th Utilitzat a
    %th accions
  - @multimedia_list.each do |m|
    %tr
      %td
        - if m.ready
          %a{:href => m.link}= m.name
        - else
          = m.name
      %td
        - if !m.ready
          %span.label.label-danger
            pendent
        - else
          - if m.published
            %span.label.label-success
              publicat
          - else
            %span.label.label-warning
              privat
      %td
        - if m.image?
          %span.glyphicon.glyphicon-picture
        - elsif m.video?
          %span.glyphicon.glyphicon-play
      %td= m.description
      %td= m.created_at_pretty
      %td= m.updated_at_pretty
      %td
        - m.points.each do |p|
          %a{:href => p.link}= p.name
      %td
        %ul.list-inline
          - if m.published?
            %li
              %form{:action => "/multimedias/unpublish", :method => "POST"}
                %button.btn.btn-xs.btn-warning{:type => "submit", :name => "id", :value => m.id}
                  %span.glyphicon.glyphicon-eye-close
                  Oculta
          - else
            %li
              %form{:action => "/multimedias/publish", :method => "POST"}
                %button.btn.btn-xs.btn-success{:type => "submit", :name => "id", :value => m.id}
                  %span.glyphicon.glyphicon-eye-open
                  Publica
          %li
            %form{:action => "/multimedias/destroy", :method => "POST"}
              %button.btn.btn-xs.btn-danger{:type => "submit", :name => "id", :value => m.id}
                %span.glyphicon.glyphicon-remove
                Esborra
  %tr
    %td
      %form{:action => "/image/create", :method => "GET"}
        %button.btn.btn-sm.btn-success{:type => "submit"}
          Nova Imatge
    %td
      %form{:action => "/video/create", :method => "GET"}
        %button.btn.btn-sm.btn-success{:type => "submit"}
          Nou Vídeo
    %td
    %td
    %td
    %td
    %td
    %td
