%table.table.table-striped
  %tr
    %th Nom fitxer
    %th Estat
    %th Tipus
    %th Peu
    %th Bocata Muncunill
    %th Última actualització
    %th Utilitzat a
    %th Accions
    %th
  - @multimedia_list.each do |m|
    %tr
      %td
        - if m.ready
          %a{:href => m.link}= m.name
        - else
          = m.name
      %td
        - if !m.ready
          %span.label.label-danger
            pendent
        - else
          - if m.published
            %span.label.label-success
              publicat
          - else
            %span.label.label-warning
              privat
      %td
        - if m.image?
          %span.glyphicon.glyphicon-picture
        - elsif m.video?
          %span.glyphicon.glyphicon-play
      %td= m.description
      %td= m.tip
      %td= m.updated_at_pretty
      %td
        - m.groups.each_with_index do |p, i|
          - if i > 0
            ,
          %a{:href => p.link}= p.name
      %td
        - if m.published?
          %form{:action => "/multimedias/unpublish", :method => "POST"}
            %button.btn.btn-xs.btn-warning{:type => "submit", :name => "id", :value => m.id}
              %span.glyphicon.glyphicon-eye-close
              Oculta
        -else
          %form{:action => "/multimedias/publish", :method => "POST"}
            %button.btn.btn-xs.btn-success{:type => "submit", :name => "id", :value => m.id}
              %span.glyphicon.glyphicon-eye-open
              Publica
      %td
        %form{:action => "/multimedias/destroy", :method => "POST"}
          %button.btn.btn-xs.btn-danger{:type => "submit", :name => "id", :value => m.id}
            %span.glyphicon.glyphicon-remove
            Esborra
  %tr
    %td
      %form{:action => "/image/create", :method => "GET"}
        %button.btn.btn-sm.btn-success{:type => "submit"}
          %span.glyphicon.glyphicon-picture
          Nova Imatge
    %td
      %form{:action => "/video/create", :method => "GET"}
        %button.btn.btn-sm.btn-success{:type => "submit"}
          %span.glyphicon.glyphicon-play
          Nou Vídeo
    %td
      %form{:action => "/audio/create", :method => "GET"}
        %button.btn.btn-sm.btn-success{:type => "submit"}
          %span.glyphicon.glyphicon-headphones
          Nova Locució
    %td
    %td
    %td
    %td
    %td
    %td
