- if @current_point
  .panel.panel-default
    .panel-heading
      %h3
        = @current_point.name
        - if @current_point.published?
          %span.label.label-success
            Publicat
        - else
          %span.label.label-warning
            Privat
    .panel-body
      .panel.panel-primary
        .panel-heading
          %span.glyphicon.glyphicon-info-sign
          Informació
        .panel-body
          .well.well-sm
            %strong Descripció:
            = @current_point.description
          .well.well-sm
            %strong Bocata Muncunill:
            = @current_point.tip
          .well.well-sm
            %strong Coordenades:
            = "#{@current_point.coord_x}, #{@current_point.coord_y}"

          %ul.list-inline
            %li
              %form{:action => "/point/edit", :method => "GET"}
                %button.btn.btn-sm.btn-primary{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-edit
                  Edita
            %li
              %form{:action => "/point/destroy", :method => "POST"}
                %button.btn.btn-sm.btn-danger{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-remove
                  Esborra
      .panel.panel-primary
        .panel-heading
          %span.glyphicon.glyphicon-play
          Multimedia principal
        .panel-body
          .panel.panel-default
            .panel-heading
              Vista prèvia
            .panel-body
              - if @current_point.multimedias.size > 0
                .carousel.slide#carousel-point{:"data-ride" => "carousel", :style => "margin: 0 auto; width: 400px;"}
                  %ol.carousel-indicators
                    - @current_point.multimedias_sorted.each_with_index do |m, index|
                      - if index == 0
                        %li.active{"data-target" => "#carousel-point", :"data-slide-to" => "0"}
                      - else
                        %li{"data-target" => "#carousel-point", :"data-slide-to" => "#{index}"}
                  .carousel-inner
                    - @current_point.multimedias_sorted.each_with_index do |m, index|
                      - if index == 0
                        .item.active
                          %img{:src => "#{m.thumbnail_link}", :alt => "Image"}
                          .carousel-caption
                            = m.description
                      - else
                        .item
                          %img{:src => "#{m.thumbnail_link}", :alt => "Image"}
                          .carousel-caption
                            = m.description
                        <!-- Caption -->
                  %a.left.carousel-control{:href => "#carousel-point", :"data-slide" => "prev"}
                    %span.glyphicon.glyphicon-chevron-left
                  %a.right.carousel-control{:href => "#carousel-point", :"data-slide" => "next"}
                    %span.glyphicon.glyphicon-chevron-right

          .panel.panel-default
            .panel-heading
              Multimedia enllaçat
            .panel-body
              %table.table.table-striped
                - if @current_point.multimedias.size > 0
                  - @current_point.multimedias.each do |m|
                    %tr
                      %td
                        - if m.image?
                          %span.glyphicon.glyphicon-picture
                        - else
                          %span.glyphicon.glyphicon-play
                      %td
                        - if m.published?
                          %span.label.label-success
                            Publicat
                        - else
                          %span.label.label-warning
                            Privat
                      %td
                        %a{:href => m.link, :target => "_blank"}= m.name
                      %td
                        = m.description
                - else
                  .well.well-sm
                    No hi ha cap multimèdia enllaçat
          %ul.list-inline
            %li
              %form{:action => "/point/multimedia/edit", :method => "GET"}
                %button.btn.btn-sm.btn-primary{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-edit
                  Edita

      .panel.panel-info
        .panel-heading
          %span.glyphicon.glyphicon-star
          Multimedia extra
        .panel-body
          %table.table.table-striped
            - if @current_point.extras.size > 0
              - @current_point.extras.each do |m|
                %tr
                  %td
                    - if m.has_image?
                      %span.glyphicon.glyphicon-picture
                    - if m.has_video?
                      %span.glyphicon.glyphicon-play
                    - if m.has_audio?
                      %span.glyphicon.glyphicon-headphones
                  %td
                    %a{:href => m.link, :target => "_blank"}= m.name
            - else
              .well.well-sm
                No hi ha cap extra enllaçat
          %ul.list-inline
            %li
              %form{:action => "/point/extra/edit", :method => "GET"}
                %button.btn.btn-sm.btn-primary{:type => "submit", :name => "id", :value => @current_point.id}
                  %span.glyphicon.glyphicon-edit
                  Edita
